.test{
    background-image: url("../../src/image/home-cover-image.jpg");
    position:fixed;
    background-size:contain;
    background-position:top;
    background: cover;
    width: 100vw;
    height: 100vh;

}
.avatar{
    display:flex;
    align-items: baseline;
    margin: 1rem;
    gap: 0.6rem;
}